@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

:root {
  /* css variables */
  /* primary colors */
  --clr-primary-100: #efeff9;
  --clr-primary-200: #d8d7f1;
  --clr-primary-300: #a8a4ff;
  --clr-primary-400: #635fc7;
  /* secondary colors */
  --clr-secondary-300: #ff9898;
  --clr-secondary-400: #ea5555;
  /* neutral colors */
  --clr-neutral-100: #fff;
  --clr-neutral-200: #f4f7fd;
  --clr-neutral-300: #e4ebfa;
  --clr-neutral-350: #bfbfc4;
  --clr-neutral-400: #828fa3;
  --clr-neutral-500: #3e3f4e;
  --clr-neutral-600: #2b2c37;
  --clr-neutral-700: #20212c;
  --clr-neutral-800: #000112;

  /* font family */
  --ff-body: "Plus Jakarta Sans", sans-serif;

  /* font weights */
  --fw-medium: 500;
  --fw-bold: 700;

  /* font sizes */
  --fs-100: 0.75rem; /* 12px */
  --fs-200: 0.813rem; /* 13px */
  --fs-300: 0.938rem; /* 15px */
  --fs-400: 1.125rem; /* 18px */
  --fs-500: 1.5rem; /* 24px */

  /* line heights */
  --lh-15: 15px;
  --lh-19: 19px;
  --lh-23: 23px;
  --lh-30: 30px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: var(--ff-body);
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

/* font styles */
.heading-xl {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  line-height: var(--lh-30);
}
.heading-l {
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
  line-height: var(--lh-23);
}
.heading-m {
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  line-height: var(--lh-19);
}
.heading-s {
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  line-height: var(--lh-15);
  /* kerning */
}
.body-m {
  font-weight: var(--fw-medium);
  font-size: var(--fs-200);
  line-height: var(--lh-23);
}
.body-b {
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  line-height: var(--lh-15);
}

/* buttons */
button:hover {
  cursor: pointer;
}

.btn-s {
  min-width: 255px;
  min-height: 40px;
  border: none;
  border-radius: 24px;
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}

.btn-l {
  min-width: 255px;
  min-height: 48px;
  border: none;
  border-radius: 24px;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.btn-primary {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.btn-primary:hover {
  background-color: var(--clr-primary-300);
}

.btn-secondary {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-400);
}
.btn-secondary:hover {
  background-color: var(--clr-primary-200);
}

.btn-secondary:hover {
  background-color: var(--clr-primary-200);
}

.btn-destructive {
  color: var(--clr-neutral-100) !important;
  background-color: var(--clr-secondary-400) !important;
}
.btn-destructive:hover {
  background-color: var(--clr-secondary-300) !important;
}

/* modal class to center any modal elements on screen */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  min-height: fit-content;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

/* custom checkboxes */
input[type="checkbox"] {
  appearance: none;
  min-width: 16px;
  min-height: 16px;
  border-radius: 2px;
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-400);
}

input[type="checkbox"]:checked {
  background: url("./assets/icon-check.svg");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  background-color: var(--clr-primary-400);
}

/* custom drop-down with chevron */
select {
  appearance: none;
  background-image: url("./assets/icon-chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 5% top 50%;
  background-size: 10px;
  border-radius: 5px;
}

/* border and font size on input, textarea, select */
input,
textarea,
select {
  border: 1px solid var(--clr-neutral-400);
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
}

textarea {
  padding: 8px 14px;
}

select {
  width: 100%;
  height: 40px;
  padding: 8px 14px;
}

input::placeholder,
textarea::placeholder {
  color: var(--clr-neutral-350);
}

/* basic and mobile styling */

.App {
  background-color: var(--clr-neutral-200);
  min-height: 100vh;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
.App.dark {
  background-color: var(--clr-neutral-700);
  transition: 0.5s;
}

#modal-background {
  /* ensure entire viewport is covered with position fixed! */
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

#edit-delete-box .options-wrapper {
  position: relative;
}

#edit-delete-box .edit-delete {
  background: none;
  border: none;
  min-width: 10px;
}
#edit-delete-box .edit-delete:hover {
  cursor: pointer;
}

#edit-delete-box .edit-delete-wrapper {
  position: absolute;
  height: 94px;
  width: 192px;
  padding: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  z-index: 9999;
  background-color: var(--clr-neutral-300);
  right: -6em;
  margin-top: 10px;
}

#edit-delete-box .edit-delete-wrapper.dark {
  background-color: var(--clr-neutral-700);
}

#edit-delete-box .edit-task,
#edit-delete-box .delete-task {
  background: none;
  border: none;
  text-align: left;
}

#edit-delete-box .edit-task {
  color: var(--clr-neutral-400);
}
#edit-delete-box .delete-task {
  color: var(--clr-secondary-400);
}

#task-preview-card {
  height: fit-content;
  width: 280px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 23px 16px;
  box-shadow: 2px 5px 5px var(--clr-neutral-300);
  background-color: var(--clr-neutral-100);
  transition: 0.5s;
}

#task-preview-card h2 {
  color: var(--clr-neutral-400);
}

#task-preview-card.dark {
  background-color: var(--clr-neutral-600);
  box-shadow: 2px 5px 5px var(--clr-neutral-500);
  transition: 0.5s;
}

#task-preview-card.dark h1 {
  color: var(--clr-neutral-100);
  transition: 0.5s;
}

#task-preview-card:hover,
#task-preview-card.dark:hover h1 {
  cursor: pointer;
  color: var(--clr-primary-400);
}

#task-view-card {
  position: fixed;
  min-height: 557px;
  width: 343px;
  border-radius: 6px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--clr-neutral-100);
  transition: 0.5s;
}
#task-view-card.dark,
#task-view-card.dark h3,
#task-view-card.dark select {
  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-100);
  transition: 0.5s;
}
#task-view-card h2 {
  color: var(--clr-neutral-400);
}

#task-view-card .task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#task-view-card img {
  height: 20px;
}

#task-view-card .subtasks-container h3 {
  margin-bottom: 16px;
}

#task-view-card .subtask {
  border-radius: 4px;
  background-color: var(--clr-neutral-200);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px;
}
#task-view-card .subtask:hover {
  background-color: var(--clr-primary-200);
}
#task-view-card.dark .subtask {
  background-color: var(--clr-neutral-700);
}
#task-view-card.dark .subtask:hover {
  background-color: var(--clr-neutral-500);
}
#task-view-card input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--clr-neutral-400);
}

#status-select h3 {
  color: var(--clr-neutral-400);
  margin-bottom: 10px;
}

#task-modal,
#board-modal {
  min-width: 343px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  z-index: 999999;
  background-color: var(--clr-neutral-100);
  transition: 0.5s;
}
#task-modal label,
#board-modal label {
  color: var(--clr-neutral-400);
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  line-height: var(--lh-15);
}
#task-modal .container,
#board-modal .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#task-modal input,
#board-modal input {
  height: 40px;
  padding: 8px 14px;
}

#task-modal.dark,
#task-modal.dark input,
#task-modal.dark textarea,
#task-modal.dark select,
#board-modal.dark,
#board-modal.dark input,
#board-modal.dark textarea,
#board-modal.dark select {
  background-color: var(--clr-neutral-600);
}

#task-modal.dark h1,
#task-modal.dark label,
#task-modal.dark input,
#task-modal.dark textarea,
#task-modal.dark select,
#board-modal.dark h1,
#board-modal.dark label,
#board-modal.dark input,
#board-modal.dark textarea,
#board-modal.dark select {
  color: var(--clr-neutral-100);
}
#task-modal.dark input::placeholder,
#task-modal.dark textarea::placeholder,
#board-modal.dark input::placeholder,
#board-modal.dark textarea::placeholder {
  color: #606169;
}

#board-modal .columns input {
  width: 85%;
  margin-right: 20px;
}

#board-modal .columns button {
  background: none;
  border: none;
}

#task-modal .new-subtask-wrapper {
  display: flex;
  justify-content: space-between;
}

#task-modal .new-subtask-wrapper input {
  width: calc(100% - 30px);
}

#task-modal .delete-subtask {
  background: none;
  min-width: 16px;
}

#delete-modal {
  width: 343px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  background-color: var(--clr-neutral-100);
}

#delete-modal h1 {
  color: var(--clr-secondary-400);
}
#delete-modal p {
  color: var(--clr-neutral-400);
}

#delete-modal.dark {
  background-color: var(--clr-neutral-600);
}

#column-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 280px;
}

#column-view .column-title {
  transform: translateX(12px);
}

#column-view .column-title::before {
  content: " ";
  display: inline-block;
  position: relative;
  left: -12px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #49c4e5;
}

#column-view .column-title.dark {
  color: var(--clr-neutral-400);
}

#board-view {
  display: flex;
  gap: 24px;
  padding: 16px 16px;
  width: 100vw;
  height: calc(100vh - 64px);
  overflow: auto;
}

#board-view button {
  min-width: 280px;
  background: none;
  border: none;
  border-radius: 10px;
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-400);
}

#board-view button.dark {
  background-color: var(--clr-neutral-600);
}

#sidebar,
.show-sidebar {
  display: none;
}

#navbar {
  box-sizing: border-box;
  min-width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  gap: 16px;
  background-color: var(--clr-neutral-100);
  border-bottom: 1px solid var(--clr-neutral-300);
  z-index: 2;
}

#navbar #edit-delete-box .edit-delete-wrapper {
  right: 0em;
  margin-top: 35px;
}

#navbar .inner-nav-box {
  display: flex;
  gap: 16px;
}

#navbar.dark {
  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-100);
  border-bottom: 1px solid var(--clr-neutral-500);
}

#navbar .mobile-logo {
  height: 24px;
  width: 25px;
}

#navbar .menu {
  background: none;
  border: none;
  color: inherit;
}

#navbar .menu:hover {
  cursor: pointer;
}

#navbar .add {
  width: 48px;
  height: 32px;
  border-radius: 15px;
  border: none;
  background-image: url("../src/assets/icon-add-task-mobile.svg");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

#navbar .burger {
  background: none;
  border: none;
}

#navbar .floating-menu {
  position: fixed;
  top: 5em;
  width: 264px;
  min-height: 322px;
  background-color: var(--clr-neutral-100);
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 9999999;
}

#navbar .floating-menu.dark {
  background-color: var(--clr-neutral-600);
}

.sidebar-boardlist {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.sidebar-boardlist h1 {
  padding-left: 24px;
  margin-bottom: 19px;
  color: var(--clr-neutral-400);
}

.sidebar-boardlist button {
  width: 240px;
  padding: 14px 48px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  color: var(--clr-neutral-400);
  background: none;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--fs-300);
}

.sidebar-boardlist button:hover {
  background-color: #efeff9;
}

.sidebar-boardlist button.active {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}
.sidebar-boardlist button.active:hover {
  background-color: var(--clr-primary-300) !important;
}

.sidebar-boardlist button:before {
  content: " ";
  position: absolute;
  transform: translateX(-25px);
  background-image: url("/src/assets/icon-board.svg");
  height: 16px;
  width: 16px;
}

.sidebar-boardlist .new-board {
  color: var(--clr-primary-400);
}

.sidebar-boardlist .new-board::before {
  filter: invert(44%) sepia(75%) saturate(459%) hue-rotate(203deg) brightness(79%) contrast(99%);
}

#theme-toggle {
  width: 235px;
  height: 48px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-200);
  align-self: center;
  transition: 0.5s;
}

#theme-toggle.dark {
  background-color: var(--clr-neutral-700);
}

#theme-toggle::before {
  content: " ";
  height: 18px;
  width: 18px;
  background-image: url("../src/assets/icon-light-theme.svg");
  transform: translateX(-24px);
}
#theme-toggle::after {
  content: " ";
  height: 15px;
  width: 15px;
  background-image: url("../src/assets/icon-dark-theme.svg");
  transform: translateX(24px) translateY(-1px);
}

#theme-toggle button {
  border: none;
  background-color: var(--clr-primary-400);
  width: 40px;
  height: 20px;
  border-radius: 20px;
  padding: 3px;
}

#theme-toggle button:hover {
  background-color: var(--clr-primary-300) !important;
}

/* slide toggle switch */
#theme-toggle button .inner-switch.dark {
  transform: translateX(140%);
  transition: 0.5s;
}
#theme-toggle button .inner-switch {
  transition: 0.5s;
}

#theme-toggle img {
  width: 15px;
  height: 15px;
}

#theme-toggle .inner-switch {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--clr-neutral-100);
}

/********************  tablet styling **********************/
@media (min-width: 760px) {
  #task-view-card,
  #task-modal,
  #board-modal,
  #delete-modal {
    width: 480px;
    padding: 24px;
    gap: 2em;
  }

  #delete-modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #delete-modal h1,
  #delete-modal p {
    grid-column: 1/3;
  }
  #delete-modal button {
    min-width: 200px;
  }

  #board-view {
    display: flex;
    gap: 24px;
    padding: 16px 24px;
    height: calc(100vh - 96px);
  }

  #navbar {
    height: 96px;
  }

  #navbar .menu {
    pointer-events: none;
  }

  #navbar .mobile-logo {
    display: none;
  }

  #navbar .add {
    width: 164px;
    height: 48px;
    border-radius: 24px;
    background-image: none;
  }
  #navbar .add::after {
    content: "+Add New Task";
  }

  #navbar .floating-menu,
  #navbar #modal-background.navbar {
    display: none;
  }

  #navbar[data-sidebar="show"] {
    min-width: calc(100% - 261px);
  }

  #navbar[data-sidebar="hidden"],
  #board-view[data-sidebar="hidden"] {
    margin-left: 0px;
    transition: 0.8s;
  }
  #navbar[data-sidebar="show"],
  #board-view[data-sidebar="show"] {
    margin-left: 261px;
    transition: 0.8s;
  }
  #board-view[data-sidebar="show"] {
    width: calc(100vw - 261px);
  }

  #sidebar {
    display: block;
    box-sizing: border-box;
    position: fixed;
    min-height: 100vh;
    min-width: 261px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    z-index: 2;
    background-color: var(--clr-neutral-100);
    border-right: 1px solid var(--clr-neutral-300);
    transform-origin: left;
  }

  #sidebar[data-sidebar="hidden"] {
    min-width: 0px;
    width: 0px;
    transition: 0.8s;
  }
  #sidebar[data-sidebar="show"] {
    min-width: 261px;
    width: 261px;
    transition: 0.8s;
  }

  .show-sidebar {
    display: block;
  }

  #sidebar.dark {
    background-color: var(--clr-neutral-600);
    border-right: 1px solid var(--clr-neutral-500);
  }

  #sidebar .sidebar-boardlist {
    display: flex;
    flex-direction: column;
    margin-top: 54px;
  }

  #sidebar .sidebar-boardlist h1 {
    padding-left: 28px;
    margin-bottom: 19px;
    color: var(--clr-neutral-400);
  }

  #sidebar .sidebar-boardlist button,
  #sidebar .hide-sidebar {
    padding: 14px 52px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: var(--clr-neutral-400);
    background: none;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
  }
  #sidebar .sidebar-boardlist button {
    min-width: 100%;
  }

  #sidebar .sidebar-boardlist button:hover {
    background-color: #efeff9;
  }

  #sidebar .sidebar-boardlist button.active {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
  }

  #sidebar .sidebar-boardlist button:before {
    content: " ";
    position: absolute;
    transform: translateX(-25px);
    background-image: url("/src/assets/icon-board.svg");
    height: 16px;
    width: 16px;
  }

  #sidebar .sidebar-boardlist .new-board {
    color: var(--clr-primary-400);
  }

  #sidebar .sidebar-boardlist .new-board::before {
    filter: invert(44%) sepia(75%) saturate(459%) hue-rotate(203deg) brightness(79%) contrast(99%);
  }

  #sidebar img {
    height: 25px;
    width: 152px;
    margin-top: 35px;
    margin-left: 26px;
  }

  #sidebar #theme-toggle {
    position: absolute;
    bottom: 15%;
  }

  #sidebar .hide-sidebar {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 8%;
    color: var(--clr-neutral-400);
    text-align: left;
    padding-left: 45px;
  }

  #sidebar button:hover {
    background-color: #efeff9;
  }

  #sidebar .hide-sidebar::before {
    content: " ";
    display: block;
    background-image: url("../src/assets/icon-hide-sidebar.svg");
    width: 18px;
    height: 16px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .show-sidebar {
    position: fixed;
    left: 0;
    bottom: 8%;
    z-index: 1;
    width: 56px;
    height: 48px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
    background-color: var(--clr-primary-400);
    background-image: url("../src/assets/icon-show-sidebar.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
  }

  .show-sidebar:hover {
    background-color: var(--clr-primary-300);
  }

  #board-modal .columns input {
    width: 90%;
    margin-right: 16px;
  }
}

/* desktop styling */
